
<div class="container">
  <div class="row justify-content-center">
      <div class="col-10">
        <%= render 'shared/errors', obj: @meble %>
        <%= form_with(model: @meble, class: "shadow p-3 mb-3 bg-secondary rounded", local: true)  do |f| %>
        <div class="form-group row">
            <%= f.label :nazwa, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :nazwa, class: "form-control shadow rounded", placeholder: "Nazwa mebla" %>
            </div>
        </div>

        <div class="form-group row">
              <%= f.label :rodzaj, class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.text_field :rodzaj, class: "form-control shadow rounded", placeholder: "Rodzaj mebla" %>
              </div>
        </div>

          <div class="form-group row">
              <%= f.label :opis, class: "col-2 col-form-label text-light" %>
              <div class="col-10"> 
                <%= f.text_area :opis, rows: 5, class: "form-control shadow rounded", placeholder: "Opis mebla" %>
              </div>
          </div>

          <div class="form-group row justify-content-center">
              <% if @akcja == "edit" %>
                  <%= f.submit 'Edytuj', class: "btn btn-outline-success" %>
              <% else %>
                  <%= f.submit 'Utwórz', class: "btn btn-outline-success" %>
              <% end %>
              
        </div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= link_to '[ Anuluj i wróc do listy mebli ]', mebles_path, class: "text-secondary" %>
      </div>
  </div>
    
</div>
     