  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Mebles", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Strona domowa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <%= link_to "Użytkownicy", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Lista mebli", mebles_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meble
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Dodaj nowy mebel", new_meble_path, class: "dropdown-item" %>
            <%= link_to "Lista mebli", mebles_path, class: "dropdown-item" %>
            <a class="dropdown-item" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Realizacje</a>
            <a class="dropdown-item" href="https://www.youtube.com/watch?v=feA64wXhbjo">Cennik</a>
            <a class="dropdown-item" href="https://www.youtube.com/watch?v=3e1-2ZMsOzI">O mnie</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
      </form>
    </div>
  </nav>